@import 'tailwindcss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.light {
  --bg-color: #fff;
  --text-color: #000;
}

.dark {
  --bg-color: #1d1e42;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
